/* TODO Add site wide styles */

:root {
    --primary-bg-color: #212121;
    --primary-font-color: #f7f5fa;
    --primary-link-color: #1098f7;
}

body {
    background-color: var(--primary-bg-color) !important;
    color: var(--primary-font-color) !important;
    height: 100vh;
    width: 100vw;
    background-image: url("https://body-builder-project.s3.us-east-2.amazonaws.com/weights.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

:link {
    color: var(--primary-link-color);
}

:visited {
    color: var(--primary-link-color);
}

.bg-dark {
    background-image: url('https://body-builder-project.s3.us-east-2.amazonaws.com/navbar-2.jpg');
}

#basic-navbar-nav {
    font-size: 1.05em;
}
