/* TODO Add site wide styles */

:root {
    --primary-bg-color: #212121;
    --primary-font-color: #f7f5fa;
    --primary-link-color: #1098f7;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color) !important;
}

:link {
    color: var(--primary-link-color);
}

:visited {
    color: var(--primary-link-color);
}
