.comment__header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 500px;
    color: rgb(186, 186, 186);
    padding: 5px 10px;
    border-top: 2px dotted;
}

.comment__author {
    font-style: italic;
}

.comment__date {
    font-style: italic;
}

.comment__content {
    padding: 5px 10px;
}
