.exercises {
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
    align-items: center;
    background-image: url('https://body-builder-project.s3.us-east-2.amazonaws.com/bg-logged-in-3.jpg');
}

.addExerciseIcon, .addWorkoutIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgb(94 213 218 / 50%);
    margin-bottom: 10px;
}

.addExerciseIcon, .addWorkoutIcon, .loginForm__button, .signUpForm__button {
    transition: background-color 1s;
}

.addExerciseIcon:hover, .addWorkoutIcon:hover, .loginForm__button:hover, .signUpForm__button:hover {
    background-color: rgb(94 213 218 / 100%);
    color: black;
}

.exercise__ratings {
    border-top: 1px dotted white;
    min-width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exercise__stars {
    display: flex;
    align-items: center;
}

.exercise__owner {
    cursor: pointer;
    padding-left: 60px;
}

.exercise__title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: #7cb8bb;
    border-bottom: 2px dotted whitesmoke;
    padding-bottom: 5px;
}

.exercise__difficulty, .exercise__equipment {
    padding-top: 2px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: rgb(214, 214, 214);
}

div>span.exercise__difficulty {
    padding-top: 5px;
}

.exercise__info {
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 10, 20, 50%);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.exercise__steps {
    display: flex;
    background-color: rgba(1, 10, 20, 50%);
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.exercise__stepNumber {
    color: aquamarine;
    font-size: larger;
    padding-right: 5px;
}

.exercise__step {
    padding: 0px 5px 2px;
    transition: background-color 1s;
    border-radius: 10px;
}

.exercise__step:hover {
    background-color: rgba(64, 64, 64, 0.5);
    border-radius: 10px;
}

.exercise__video {
    padding-bottom: 10px;
}

.exercise__end {
    width: 130%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dotted rgb(248, 248, 248);
}

.exercise__comments {
    position: relative;
    box-sizing: border-box;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    width: 500px;
    overflow: scroll;
    border: 2px solid darkgrey;
    border-radius: 15px;
    background-color: rgba(1, 10, 20, 50%);
    align-items: center;
    justify-content: space-between;
    padding: 2px 5px;
}

.exercise__comments::-webkit-scrollbar {
    display: none;
}

.exercise__commentsHeader {
    position: sticky;
    top: 0;
    color: darksalmon;
    padding-bottom: 5px;
    font-weight: 500;
}

.exercise__commentsInput {
    position: sticky;
    bottom: 0;
    padding-bottom: 5px;
}

.exercise__commentsInputText {
    background-color: inherit;
    width: 500px;
    border-radius: 20px;
    border-top: none;
    color: white;
    padding: 0 10px;
    border-bottom-color: whitesmoke;
    border-right: none;
    padding-top: 5px;
    border-left: none;
}

.exercise__commentsInputText::placeholder {
    color: rgb(182, 182, 182);
}

.exercise__commentsInputText:focus {
    outline: none;
}

.comment {
    height: 62%;
    width: 100%;
}

.exercise__commentsContainer {
    display: flex;
    flex-direction: column;
    position: unset;
    overflow: scroll;
    width: inherit;
}

.exercise__commentsContainer::-webkit-scrollbar {
    display: none;
}

.exercise__difficulty>span, .exercise__equipment>span {
    color: darksalmon;
    padding-right: 10px;
}
