.mainPage {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.exercises {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

:link {
    color: #f7f5fa;
}

:visited {
    color: #f7f5fa;
}
