.navBar {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    height: 10%;
}

.navBar__menuLink {
    display: contents;
}

.MuiButton-label {
    color: var(--primary-link-color) !important;
}
