.navBar {
    box-sizing: border-box;
    padding: 15px 10px;
    background-color: #69a5e2;
    display: flex;
    height: 8%;
    align-items: center;
}

.navBar :link {
    color: #2d3142;
}

.navBar :visited {
    color: #2d3142;
}

.navBar__menu {
    background-color: #69a5e2;
    width: 20%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    height: 100vh;
}

.navBar__menu.active {
    left: 0;
    transition: 850ms;
}

.navBar__text a:link {
    font-size: 1.3rem;
    color: #2d3142;
    text-decoration: none;
}

.active {
    color: #1a1a1a;
    font-weight: bolder;
}

.navBar__text a:visited {
    font-size: 1.3rem;
    color: #2d3142;
    text-decoration: none;
}

.navBar__text a:hover {
    color: #1a1a1a;
    font-weight: bolder;
}

.navBar__menuBar {
    display: flex;
    font-size: 2.5rem;
    color: #2d3142;
    background: none;
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-bottom: 25px;
}

.navBar__text {
    padding: 20px;
}

.navBar__linkText {
    padding-left: 15px;
}

.navBar__items {
    list-style: none;
}
