.signUpForm {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.signUpForm__form {
    display: flex;
    flex-direction: column;
}
